/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.left-form{
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #1E90FF);
	-fx-border-color:#000;
	-fx-border-width:.4px 0px .4px .4px;
}

.right-form{
	-fx-background-color:#fff;
	-fx-border-color:#000;
	-fx-border-widht:.4px .4px .4px 0px;
}

.login{
	-fx-background-color:linear-gradient(to bottom right, #1E90FF, #272b3f);
	-fx-border-color:#000;
	-fx-border-width:.4px 0px .4px .4px;
}


.close{
	-fx-background-color:transparent;
	-fx-cursor:hand;
}

.close:hover{
	-fx-background-color:transparent;
}
